Flask==3.1.2
gunicorn==23.0.0
python-json-logger==3.2.1
SQLAlchemy==2.0.36
Flask-SQLAlchemy==3.1.1
PyMySQL==1.1.1
cryptography==44.0.0
bcrypt==4.2.1
Flask-Login==0.6.3
Flask-WTF==1.2.2
WTForms==3.2.1
email-validator==2.2.0
pytest==8.3.4
pytest-xdist==3.6.1
pytest-cov==6.0.0
coverage==7.6.10
mypy==1.14.0
pre-commit==4.0.1
flake8==7.1.1
flake8-bugbear==24.10.31
black==24.10.0
isort==5.13.2
redis==5.2.0
